@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Unbounded', cursive;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.modalLinks {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.modalLinks::before,
.modalLinks::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.modalLinks::before {
  background-color: #d65458;
  height: 2px;
  bottom: 0px;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.modalLinks::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #d65468;
}

.modalLinks:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.modalLinks:hover::after {
  transform: translate3d(0, 0, 0);
}

.modalLinks span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.modalLinks:hover span {
  transform: translate3d(-200%, 0, 0);
}

.text-transition {
  transition: animation 0.5s ease-in-out;
  animation: text-clip 1.5s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
